@charset "utf-8";

/* 全体のスタイル調整 */
* {
  box-sizing: border-box;
}

/* bodyの初期スタイル調整 */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Noto Sans JP', 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333;
  background-color: #fff;
}

/* 初期スタイル調整 */
h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.5;
  letter-spacing: 0.2em;
  text-align: center;
}

h3 {
  color: #85a7cc;
  font-size: 14px;
  margin-bottom: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 1.5em;
  text-align: justify;
}

address {
  font-style: normal;
}

a {
  color: #666;
  text-emphasis: none;
}

a:hover,
a:focus {
  color: #000;
  text-decoration: none;
}

ul {
  margin: 1em 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

section {
  padding: 60px 0;
}

/* h2への指定 */
.h2-title {
  position: relative;
  text-transform: uppercase;
  z-index: 100;
}

/* 疑似要素を使った◆の指定 */
.h2-title::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background: #a5d1ff;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  transform: rotate(45deg);
  z-index: -100;
}

/*テキスト関連*/
.txt-centered {
  text-align: center;
}

.txt-lead {
  font-weight: 700;
}

/* ボタン関連 */
.btn {
  display: block;
  padding: 20px 35px;
  border-radius: 8px;
  margin: 0 auto;
  border: none;
}

.btn:hover,
.btn.focus {
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

/* Web予約ボタン */
.btn-reserve {
  color: #fff;
  background: #6699ff;
}

/* レイアウト関連 */
.inner {
  padding: 0 15px;
  margin: 0 auto;
}

/* PC用のスタイル */
@media screen and(min-width: 768px) {
  .inner {
    max-width: 1200px;
  }
}
/* モバイルとPCでの表示に関するスタイル */
.sp-only {
  display: block;
}
.pc-only {
  display: none;
}

/* PC用のスタイル */
@media screen and(min-width: 768px) {
  .sp-only {
    display: none;
  }

  .pc-only {
    display: block;
  }
}

/* headerのスタイル */
.header {
  position: flex;
  top: 0;
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 200;
}

/* サイトロゴとナビゲーションの並び */
.header-logo-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* サイトロゴの表示 */
.logo-area {
  width: 200px;
  margin: 0;
  text-align: left;
}
