@charset "utf-8";

/* 全体のスタイル調整 */
* {
  box-sizing: border-box;
}

/* bodyの初期スタイル調整 */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Noto Sans JP', 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333;
  background-color: #fff;
}

/* 初期スタイル調整 */
h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.5;
  letter-spacing: 0.2em;
  text-align: center;
}

h3 {
  color: #85a7cc;
  font-size: 14px;
  margin-bottom: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 1.5em;
  text-align: justify;
}

address {
  font-style: normal;
}

a {
  color: #666;
  text-emphasis: none;
}

a:hover,
a:focus {
  color: #000;
  text-decoration: none;
}

ul {
  margin: 1em 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

section {
  padding: 60px 0;
}
