@charset "utf-8";

/* 全体のスタイル調整 */
* {
  box-sizing: border-box;
}

/* bodyの初期スタイル調整 */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Noto Sans JP', 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333;
  background-color: #fff;
}

/* 初期スタイル調整 */
h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.5;
  letter-spacing: 0.2em;
  text-align: center;
}

h3 {
  color: #85a7cc;
  font-size: 14px;
  margin-bottom: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 1.5em;
  text-align: justify;
}

address {
  font-style: normal;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #000;
  text-decoration: none;
}

ul {
  margin: 1em 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

section {
  padding: 60px 0;
}

/* h2への指定 */
.h2-title {
  position: relative;
  text-transform: uppercase;
  z-index: 100;
}

/* 疑似要素を使った◆の指定 */
.h2-title::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background: #a5d1ff;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  transform: rotate(45deg);
  z-index: -100;
}

/*テキスト関連*/
.txt-center {
  text-align: center;
}

.txt-lead {
  font-weight: 700;
}

/* ボタン関連 */
.btn {
  display: block;
  padding: 20px 35px;
  border-radius: 8px;
  margin: 0 auto;
  border: none;
}

.btn:hover,
.btn.focus {
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

/* Web予約ボタン */
.btn-reserve {
  color: #fff;
  background: #6699ff;
}

/* レイアウト関連 */
.inner {
  padding: 0 15px;
  margin: 0 auto;
}

/* PC用のスタイル */
@media screen and(min-width: 768px) {
  .inner {
    max-width: 1200px;
  }
}
/* モバイルとPCでの表示に関するスタイル */
.sp-only {
  display: block;
}
.pc-only {
  display: none;
}

/* PC用のスタイル */
@media screen and(min-width: 768px) {
  .sp-only {
    display: none;
  }

  .pc-only {
    display: block;
  }
}

/* headerのスタイル */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 200;
}

/* サイトロゴとナビゲーションの並び */
.header-logo-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* サイトロゴの表示 */
.logo-area {
  width: 200px;
  margin: 0;
  text-align: left;
}

/* ハンバーガーメニュー */
.gnav-toggle {
  position: relative;
  margin-top: 12px;
}

.gnav-hidden {
  display: none;
}

#gnav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

#gnav-open span,
#gnav-open span::before,
#gnav-open span::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #555;
  display: block;
  cursor: pointer;
}

#gnav-open span::before {
  bottom: -8px;
}

#gnav-open span::after {
  bottom: -16px;
}

/* 閉じる用の薄黒箇所 */
#gnav-close {
  display: none;
  position: fixed;
  z-index: -90;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

/* チェックがついたら表示させる */
#gnav-input:checked ~ #gnav-close {
  display: block;
  opacity: 0.5;
}

#gnav-input:checked ~ #gnav-content {
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
}

/* メニューの中身 */
#gnav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 70%;
  max-width: 300px;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  transition: 0.3s ease-in-out;
  transform: translateX(-105%);
}

.gnav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  text-transform: uppercase;
}

.gnav-item {
  border-bottom: 2px dotted #eee;
  margin: 10px;
  padding-bottom: 20px;
}

.gnav-item a {
  color: #fff;
  font-size: 12px;
  display: block;
  width: 200px;
  text-align: center;
}

.gnav-item a::first-line {
  font-size: 16px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .logo-area {
    width: 250px;
  }
}

@media screen and (min-width: 768px) {
  .gnav-menu {
    flex-direction: row;
    padding-top: 15px;
    margin: 0;
  }

  .gnav-item {
    border-bottom: none;
    margin: 0;
    padding-bottom: 0;
  }

  .gnav-item a {
    color: #333;
    width: 120px;
  }

  .gnav-item a:hover {
    color: #85a7cc;
  }
}
