@charset "utf-8"

/* 全体のスタイル調整 */
* {
  box-sizing: border-box;
}

/* bodyの初期スタイル調整 */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', YuGothic, 'ヒラギノ角ゴ ProN W3',
    'Hiragino Kaku Gothic ProN', Arial, 'メイリオ', Meiryo, system-ui, sans-serif;
  color: #333;
  background-color: #fff;
}

/* ヘッダー部分のスタイル調整 */
h1 {
  margin-bottom: 24px;
}

h1 img {
  max-width: 100%;
}

/* 見出し関連のスタイル調整 */
h2 img {
  height: 3em;
}

h3 {
  margin-bottom: 16px;
  text-align: center;
  font-size: 1rem;
}

/* 「本書の特長」のスタイル調整 */
.feature {
  margin-bottom: 24px;
}

.feature_01,
.feature_02 {
  width: 296px;
  margin: 0 auto 24px;
}

.feature_img {
  margin-bottom: 16px;
}

.feature_img img {
  max-width: 100%;
}

.feature_text {
  font-size: 0.75rem;
}

.book-more {
  text-align: center;
}

.book-more a {
  display: inline-block;
  padding: 8px 40px;
  border: 1px solid #333;
  border-radius: 8px;
  font-size: 0.75rem;
  color: #333;
  background-color: #fff;
  text-decoration: none;
}

.book-more a::after {
  display: inline-block;
  position: relative;
  content: '';
  width: 16px;
  height: 16px;
  top: 2px;
  left: 8px;
  background: url(../img/arrow.png) no-repeat right center;
}

/* 書籍の章構成のスタイル設定 */
.contents-list {
  margin-bottom: 24px;
  box-flex-group: url(../img/contents-list_bg.jpg) no-repeat center center #fdd;
  background-size: cover;
  padding: 24px 0;
}

.contents-list ul {
  list-style: none;
  width: 296px;
  margin: 0 auto;
  padding: 8px 24px;
  font-size: 0.75rem;
  background-color: rgba(255, 255, 255, 0.8);
}

.contents-list ul li {
  border-bottom: 1px solid #000;
  padding: 10px 0;
}

.contents-list ul li:last-child {
  border-bottom: none;
}

/* 「書籍の著者」のスタイル調整 */
.author {
  margin-bottom: 24px;
}

.author dl {
  width: 296px;
  margin: 0 auto;
}

.author dl dt {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 8px;
  padding-bottom: 4px;
  border-bottom: 1px solid #000;
}

.author dl dd {
  margin-bottom: 16px;
  font-size: 0.75em;
}

/* フッター部分のスタイル調整 */
.book-info {
  height: 60vh;
  background: url(../img/footer_bg.jpg) no-repeat center center #fdd;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-info-wrap {
  width: 296px;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.8);
}

.book-info-wrap p {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 1rem;
}

.book-info ul {
  list-style: none;
  font-size: 0.75rem;
}

.footer-info {
  padding: 32px 0;
  color: #fff;
  background-color: #000;
}

.footer-info ul {
  margin-bottom: 24px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer-info ul li {
  margin: 0 8px;
}

.footer-info ul li img {
  width: 24px;
  height: 24px;
}

.copyright {
  text-align: center;
  font-size: 0.75rem;
}
