/* 共通設定 */
body {
  font-family: 'ヒラギノ角ゴ ProN', Meiryo, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
img {
  display: block;
}

/* header mv */
header img {
  width: 170px;
  margin: 0 auto;
}
.mv-area img {
  width: 100%;
}

/* セクション共通 */
section {
  width: 100%;
  padding: 40px 0;
}
section:nth-of-type(1) {
  background-color: #dec200;
}
section:nth-of-type(2) {
  background-color: #3eb6db;
}
section:nth-of-type(3) {
  background-color: #3d5a6d;
}
.section-inner {
  width: 70%;
  margin: 0 auto;
}

h2 {
  border-bottom: 4px solid #fff;
  margin-bottom: 30px;
  color: #fff;
}
p {
  margin-bottom: 40px;
  color: #fff;
}

/* LIST */
ol li {
  margin-bottom: 20px;
  color: #fff;
}
