* {
  box-sizing: border-box;
}

/* ナビゲーション1 */
ul.gnav-list-1 {
  background: #1b9aaa;
  padding: 0;
  text-align: center; /* ulタグをセンタリング */
}
ul.gnav-list-1 li {
  display: inline-block; /* liタグインラインブロックに変換 */
}
ul.gnav-list-1 li a {
  display: block;
  padding: 1em;
  color: #fff;
  font-size: 12px; /* liタグ内改行後のフォントサイズ指定 */
  text-decoration: none;
}
ul.gnav-list-1 li a::first-line {
  font-size: 16px; /* 1行目のliタグフォントサイズ指定 */
  font-weight: bold;
}
ul.gnav-list-1 li a:hover {
  background-color: #14727e;
}

/* ナビゲーション2 */
ul.gnav-list-2 {
  background-color: #f7d2c3;
  padding: 0;
  text-align: center;
}
ul.gnav-list-2 li {
  display: inline-block;
}
ul.gnav-list-2 li a {
  display: block; /* ボックス要素として使用 */
  padding: 20px 20px 10px;
  color: #72554c;
  font-size: 14px;
  text-decoration: none;
}
ul.gnav-list-2 li a:hover {
  padding-bottom: 4px; /* padding: 10pxをbottom4pxに分割 */
  border-bottom: 6px solid #7b645d; /*padding: 10pxをborder6pxに分割 */
}
ul.gnav-list-2 li a img {
  display: block;
  margin: 0 auto 1em;
  height: 24px;
}

section {
  width: 600px;
  height: 0 auto;
  padding: 2em;
  background-color: #ffebf0;
}
section h1 {
  margin: 0 0 1em;
}
section img {
  width: 320px;
  margin-left: 1em; /* 画像と左に余白を設定 */
  margin-bottom: 1em; /* 画像と下部に余白を設定 */
  float: right; /* エレメントを右に配置 */
}
section::after {
  /* clearfix定型文*/
  content: '';
  display: block;
  clear: both;
}
section p {
  line-height: 1.8;
}

.image-list ul {
  border: 10px solid #aae5e7;
  padding: 1em 1em 0;
  list-style: none;
  width: 30%;
}
.image-list ul li {
  border-bottom: 4px dotted #6baeb3;
  margin-bottom: 1em;
}
.image-list ul li::before {
  /* マーカーの読み込みと垂直位置揃え*/
  content: url(../img/check.png);
  margin-right: 4px;
  vertical-align: middle;
}

table {
  /* border同士を重ねて二重線を一重線に置換 */
  border-spacing: 0;
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}
table,
th,
td {
  border: 1px solid #ccc;
  padding: 0.5em;
}
table caption {
  font-size: 0.8em;
  color: #666;
}
.col-1 {
  width: 20%;
}
.col-2 {
  width: 40%;
}
.col-3 {
  width: 40%;
}
th {
  background-color: rgba(155, 123, 90, 0.5);
  color: #fff;
}
